/* Headings */
h1{
	color: #f02424;
	text-align: center;
  font-size:30px;
  font-family: 'Alatsi', sans-serif;

}

h2{
   color: black;
   text-align: center;
   font-size: 25px;
   margin-top: 30px;
   font-family: 'Raleway', sans-serif;
   text-decoration: none;
}

h2 a{
  text-decoration: none;
  color:inherit;
}

h3{
	color: black;
   text-align: center;
   font-size: 15px;
   margin-bottom:10px;
   font-family: 'Raleway', sans-serif;
}

h4{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h5{
  font-size:10px;
  color:gray;
  font-family: 'Raleway', sans-serif;
}

/* Logo */

.logoImg{
  clear:right;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:7px;
} 

.logoDiv{
  position:relative;
}

/* Nav Bar */

.dropdown-menu{
  width:100%;
  min-width: 200px;
  overflow: hidden;
}


li a.nav-link {
  color: black;
  text-align: center;
  transition: .2s;
}

li a:hover:not(.active) {
  background-color: #f02424;
  color:black;
}

.container{
  font-family: 'Raleway', sans-serif;
}


.active {
  background-color: #f02424;
}



/* Footer */

footer{
  padding-left: 5px;
  font-family: 'Raleway', sans-serif;
}

footer .socialMedia{
  margin:10px;
  text-align: center;
  padding-bottom: 10px;
}

footer .fa{
  width:40px;
  padding:10px;
  font-size:15px;
}

.footer {
   position: sticky;
   display:flex;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   background-color: #f02424;
   bottom:0;
   left:0;
   padding-bottom: 3px;
   font-family: 'Raleway', sans-serif;
}

/* Home Page */

#homePageCard{
  width:100%;
  height:auto;
  position:relative;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#homePageImage{
  width:100%;
  height:auto;
  filter: brightness(50%);
  margin-top:10px;
  max-height:600px;
}

#homePageTextBox{
  background-color: rgba(255,255,255, .2);
  height:80%;
  width:80%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display:flex;
  align-items: center;
  justify-content: center;
}

#homePageText{
  opacity:1;
  color:white;
  font-size: 3vmin;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.homeInventory{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homeInventoryCard{
  width:25vw;
  max-width: 200px;
  min-width:100px;
  position:relative;
  margin:10px;
}

.homeInventoryImgs{
  opacity:0.3;
  width:100%;
  height:auto;
}

.homeInventoryText, .invSelection{
  opacity: 1;
  text-align: center;
  color:black;
  font-family: 'Raleway', sans-serif;
}


.invSelection a{
  text-decoration: none;
}

@media only screen and (min-width:800px){
  .homeInventoryText, .invSelection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:2.5vmin;
    width:85%;
  }

  .invSelection{
    display: none;
  }

  .homeInventoryCard:hover .homeInventoryImgs{
    opacity:0.2;
  }

  .homeInventoryCard:hover .homeInventoryText{
    display:none;
  }

  .homeInventoryCard:hover .invSelection{
    display:inline;
  }

  .homeInventoryCard:hover .selectionText{
    color:black;
    margin:20px 0px;
    padding:10px;
    font-size:2.5vmin;
    border: 1px solid white;
    background-color: rgba(255,255,255, .6);
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
  }

  .selectionText:hover{
    opacity:0.7;
  }

}

@media only screen and (max-width:799px){
  .homeInventoryCard{
    width:40vw;      
    min-width:100px;
  }

  .selectionText{
    color:black;
    margin:20px 0px;
    padding:10px;
    font-size:2.5vmin;
    border: 1px solid white;
    border-radius: 3px;
    background-color: rgba(255,255,255, .6);
    font-family: 'Raleway', sans-serif;
  }

  .homeInventoryText{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:3vmin;
    width:85%;
  }

  .invSelection{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:80%;
  }

  .homeInventoryImgs{
    opacity:0.3;
  }

  .selectionText:hover{
    opacity:0.7;
  }

}

/* Inventory Page */

.coming-soon{
  width:100%;
  height:400px;
  text-align: center;
  margin-top: 100px;
}


/* Contact Us Page */

#contactUs{
  display: flex;
  justify-content: center;
  width:auto;
}

@media only screen and (max-width:600px){
  #contactUs{
    display:grid;
    grid-template-columns: auto;
  }
}

#contactUs{
  margin-bottom: 20px;
}

#contactInfo{
  text-align:center;
  width:50vw;
  max-width: 300px;
  margin:20px;
  font-family: 'Raleway', sans-serif;
}

#emailForm{
  width:50vw;
  max-width: 300px;
  font-family: 'Raleway', sans-serif;
}

input, textarea{
  border: 1px solid black;
  margin:10px 20px;
  border-radius: 3px;
}

input:focus, textarea:focus{
  border:1px solid #f02424;
  outline: 0 none;
  box-shadow: 0 0 1px #f02424 inset, 0 0 3px #f02424;
}

#submit, #reset{
  border-radius:3px;
}

#submit:hover, #reset:hover{
  background-color:#f02424;
  border-color:white;
  color:white;
}

.formButtons{
  display: flex;
}

.socialMedia{
  margin-top: 40px;
}

.fa {
  padding:10px;
  font-size:30px;
  width:40px;
  text-align:center;
  border:1px solid #f02424;
  border-radius: 20%;
  margin-right: 10px;
}

.fa:hover{
  opacity: 0.4;
}
