html{
  font-family: "Arial Black", Gadget, sans-serif;
}

/* Headings */
h1{
	color: #ed3434;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
  font-size:30px;
}

h2{
   color: black;
   text-align: center;
   font-family: "Arial Black", Gadget, sans-serif;
   font-size: 25px;
   margin-top: 10px;
}

h3{
	color: black;
   text-align: center;
   font-family: Arial, sans-serif;
   font-size: 15px;
   margin-bottom:10px;
}

h4{
  margin-left: 100px;
  margin-right: 100px;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Logo */

.logoImg{
  clear:right;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:7px;
} 

i{
  font-size:5vw;
  color:#ed3434;
  position:absolute;
  top:35%;
  left:95%;
  transform: translate(-50%, -50%);

}

.logoDiv{
  position:relative;
}

/* Nav Bar */

.dropdown-menu{
  width:100%;
}


li a.nav-link {
  color: black;
  text-align: center;
  transition: .5s;
}

li a:hover:not(.active) {
  background-color: #ed3434;
  color:black;
}

.container{
  font-family: Arial, sans-serif;
}


.active {
  background-color: #1aa3ff;
}


/* Footer */

.footer {
   position: fixed;
   bottom:0;
   left:0;
   width: 100%;
   height: auto;
   background-color: #ed3434;
}

/* Home Page */

#homePageCard{
  width:100%;
  height:auto;
  position:relative;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#homePageImage{
  width:100%;
  height:auto;
  filter: brightness(50%);
  margin-top:10px;
  max-height:600px;
}

#homePageTextBox{
  background-color: rgba(255,255,255, .2);
  height:80%;
  width:80%;
  max-height:400px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#homePageText{
  opacity:1;
  color:white;
  font-family: Arial, sans-serif;
  font-size: 3vmin;
  text-align: center;
  margin-top: 7%;
}

.homeInventory{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homeInventoryCard{
  width:25vw;
  max-width: 200px;
  position:relative;
  margin:15px;
}

.homeInventoryImgs{
  opacity:0.4;
  width:100%;
  height:auto;
}
.homeInventoryText{
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:black;
  font-size:2.5vmin;
}

.homeInventoryCard:hover .homeInventoryImgs{
  opacity:0.2;
}

.homeInventoryCard:hover .homeInventoryText{
  font-weight: bold;
}

.invSelection{
  display: none;
}

/* Inventory Page */

.content{
    background: #fff;
    padding: 30px 30px;
    align-content: center;
    margin-right: 30px;
    margin-left:30px;
    margin-bottom: 30px;
}

ul{
    list-style-type: none;
    padding: 0; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );    
    grid-gap: 40px;
}

.card{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
  width:auto;
  height:auto;
}

.card:hover{
  background-color:#ed3434;
}

.card:hover .listing-image{
  filter:brightness(50%);
}

.card:hover .add-To-Cart{
  opacity: 1;
}

.add-To-Cart:hover{
  background-color:#ed3434;
  color:black;
  border-color:black;
  transition:0.4s;
}

.listing-image{
  opacity:1;
  width: 100%;
  height: auto;
}

.listing-name{
  opacity: 1;
  text-align: center;
  font-size:18px;
  padding-top: 5px;
}

.add-To-Cart{
  opacity:0;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 18px;
  color:white;
  background-color:rgba(255,255,255, .1);
  text-align:center;
  border:solid;
  border-color:gray;
  border-radius:8px;
  padding:5px 5px;
  border-width: 1px;
}

/* Contact Us Page */

#contactUs{
  display: flex;
  justify-content: center;
  width:auto;
}

@media only screen and (max-width:600px){
  #contactUs{
    display:grid;
    grid-template-columns: auto;
  }
}

#contactUs{
  margin-bottom: 20px;
}

#contactInfo{
  text-align:center;
  width:50vw;
  max-width: 300px;
  margin:20px;
}

#emailForm{
  width:50vw;
  max-width: 300px;
}

input, textarea{
  border: 1px solid black;
  margin:10px 20px;
  border-radius: 3px;
}

input:focus, textarea:focus{
  border:1px solid #ed3434;
  outline: 0 none;
  box-shadow: 0 0 1px #ed3434 inset, 0 0 3px #ed3434;
}

#submit, #reset{
  border-radius:3px;
  transition: .5s;
}

#submit:hover, #reset:hover{
  background-color:#ed3434;
  border-color:white;
}

.formButtons{
  display: flex;
}

.socialMedia{
  margin-top: 40px;
}

.fa {
  padding:10px;
  font-size:30px;
  width:40px;
  text-align:center;
  border-radius: 20%;
  margin-right: 10px;
}

.fa:hover{
  opacity: 0.7
}
