h1{
	color: #ed3434;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
}

h2{
   color: black;
   text-align: center;
   font-family: "Arial Black", Gadget, sans-serif;
   font-size: 30px;
}

h3{
	color: black;
   text-align: center;
   font-family: Arial, sans-serif;
   font-size: 15px;
}

li a.nav-link {
  color: black;
  text-align: center;
}

li a:hover:not(.active) {
  background-color: #ed3434;
  color:black;
}

.container{
  font-family: Arial, sans-serif;
}

.active {
  background-color: #1aa3ff;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 110px;
   background-color: #ed3434;
}

.home-table{
  display: grid;
  grid-template-columns:auto auto;
  justify-content: center;
  align-items: center;
}


.home-table > div{
}

.table-img img{
  width:300px;
  height:auto;
}

.dropdown-menu{
  width:100%;
  overflow:hidden;
}

#aboutus{
  margin-left: 100px;
  margin-right:100px;
  font-family: Arial, sans-serif;
  text-align: center;
}


#contactus{
  margin-left: 100px;
  margin-right: 100px;
  font-family: Arial, sans-serif;
  text-align: center;
}

h4{
  margin-left: 100px;
  margin-right: 100px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.content{
    background: #fff;
    max-width: 800px;
    margin: 30px auto;
    padding:  20px 30px;
}

ul{
    list-style-type: none;
    padding: 0; 
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px 40px;
}


.heading-div{
  height:60px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.listing-image{
  opacity:1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.listing-name{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .listing-image{
  opacity:0.3;
}
.card:hover .listing-name{
  opacity:1;
}